<h2>Welcome to Polling APP</h2>
<button (click)="callRoute()">Change the Path</button>
<div class="btn btn-primary" (click)="doLogin()">LOGIN</div>

<div class="btn btn-primary" (click)="doLogout()">Logout</div>



<div class="container">
  <div class="row">
      <router-outlet></router-outlet>
  </div>
</div>

